services:
  db:
    image: postgres:16
    container_name: chatbot_gsantana-db-1
    env_file:
      - ./.env.e2e
    volumes:
      - postgres_data_temp:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: chatbot_gsantana-api-1
    env_file:
      - ./.env.e2e
    depends_on:
      db:
        condition: service_healthy
    # O entrypoint é definido no Dockerfile.
    # O 'command' abaixo é passado como argumento para o entrypoint.sh
    command: gunicorn -w 4 -k uvicorn.workers.UvicornWorker chatbot_gsantana.main:app --bind 0.0.0.0:8000

  nginx:
    image: nginx:latest
    container_name: chatbot_gsantana-nginx-1
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./html:/usr/share/nginx/html:ro
    depends_on:
      - api

volumes:
  postgres_data_temp:
